[submodule "external/ardupilot"]
	path = external/ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "external/qgroundcontrol"]
	path = external/qgroundcontrol
	url = https://github.com/mavlink/qgroundcontrol.git
[submodule "external/Dieharder-statistical-test"]
	path = external/Dieharder-statistical-test
	url = https://github.com/GINARTeam/Dieharder-statistical-test.git
